<!DOCTYPE html>
<html>
<head>
  <title>SchemaEditor</title>
  <%= stylesheet_link_tag    "schema_editor/application", media: "all" %>
  <%= javascript_include_tag "schema_editor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
